$colors: (
  white: #fff,
  jigglypuff: #ff9ff3,
  lotus-pink: #f368e0,
  jade-rust: #00d2d3,
  aqua-velvet: #01a3a4,
  casandra-yellow: #feca57,
  double-dragon: #ff9f43,
  joust-blue: #54a0ff,
  blue-de-france: #2e86de,
  pastel-red: #ff6b6b,
  amour: #ee5253,
  nasu-purple: #5f27cd,
  bluebell: #341f97,
  megaman: #48dbfb,
  cyanite: #0abde3,
  ballerina: #c8d6e5,
  storm-petrel: #8395a7,
  wild-green: #1dd1a1,
  mountain-meadow: #10ac84,
  fuel-town: #576574,
  imperial-primer: #222f3e,
);

